.dashboardExploreStyle {
    display: flex;
    // width: 420px;
    height: 100%;
    padding-left: 0px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}