@import '../../Config/variablestyle.scss';

.auth-banner-wrapper {
    background-image: url('../../assets/Images/auth-banner.png');
    object-fit: cover;
    height: 100%;
    width: 57%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $white;
    font-family: cursive;
    .auth-banner-title {
        font-size: 3rem;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
    }

    .auth-banner-desc {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    .auth-banner-btn {
        background-color: $light-blue;
        width: 220px;
        height: 58px;
        margin-top: 30px;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        font-family: cursive;
    }
}