@import '../../../../Config/variablestyle.scss';

.storiesWrapperStyle {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .addStoryBtn {
        width: 45px;
        height: 45px;
        border-radius: 12px;
        background: $light-blue-rgba;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        cursor: pointer;
    }

    
}