$white:#fff;
$light-blue:#79D0F1;
$black:#1E1F20;
$grey:#8F92A1;
$darkBlue:#39579B;
$blue-69:#0659FD;
$offWhite:#F7F7F7;
$sunsetOrange:#FF4E4E;
$green:#53D769;


$blue-rgba: var(--color-420, rgba(255, 255, 255, 0.20));
$white-rgba:var(--border-white-20, rgba(255, 255, 255, 0.20));
$black-rgba: var(--color-320, rgba(30, 31, 32, 0.20));
$grey-rgba: var(--color-420, rgba(255, 255, 255, 0.20));
$grey-white-rgba: var(--color-540, rgba(143, 146, 161, 0.40));
$light-blue-rgba:var(--color-220, rgba(121, 208, 241, 0.20));