@import '../../../Config/variablestyle.scss';

.friendsCardWrapper {
    width: 315px;

    .title {
        color: $white;
        font-family: sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 40px;
        /* 136.364% */
    }

    .seemoreWrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 11px;

        .seemoreBtn {
            color: $grey;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding: 0;
            background: transparent;
            border: none;
        }
    }
}